/*
* @Author: jade
* @Date:   2016-05-31 13:58:57
* @Last Modified by:   jade
* @Last Modified time: 2016-06-01 19:02:46
*/
#main {
  width: 435px;
}
.mod-register {
  width: 400px;
  margin: 60px auto;
  .title {
    text-align: center;
  }
  .form {
    margin-top: 20px;
  }
}
