/*
* @Author: jade
* @Date:   2016-05-31 14:07:54
* @Last Modified by:   jade
* @Last Modified time: 2016-06-06 14:58:11
*/
#header {
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
}
.header-wrap {
    width: 1200px;
    margin: 0 auto;
    
    .ant-menu-horizontal {
        border-bottom: none;
    }
}
#main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}