/*
* @Author: jade
* @Date:   2016-06-12 00:02:08
// @Last modified by:   geyuanjun
// @Last modified time: 2016-06-29 19:25:23
*/
#main{
  margin: 18px auto 0;
  padding: 10px 0;
  background:#fff;
  font-size:14px;
  color:#666;
  border-radius:5px;
  box-shadow:2px 2px 2px #ccc;
}
@font-face {
  font-family: 'Icons';
  src: url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.eot");
  src: url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.woff2") format('woff2'), url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.woff") format('woff'), url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.ttf") format('truetype'), url("../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

html,
body,
#fete {
  height: 100%;
}
