/*
* @Author: jade
* @Date:   2016-06-15 22:44:29
* @Last Modified by:   jade
* @Last Modified time: 2016-06-27 23:27:53
*/
.mod-project {
  .project-nav {
    margin: 0 -16px 16px;
    padding: 0 16px 16px;
    border-bottom: 1px solid #e9e9e9;
  }
  .project-add {
    cursor: pointer;
    text-align: center;
    .anticon-plus {
      font-size: 100px;
    }
  }
  .ant-card-body {
    height: 150px;
  }
  .gutter-row {
    margin-bottom: 16px;
  }
}
.project {
  .description {
    height: 70px;
  }
  .operators {
    display: none;
    float: right;
  }
  &:hover .operators {
    display: block;
  }
}
